<!--The content below is only a placeholder and can be replaced.-->
<!--/*{{var1}}
<div class="clase1">
  {{var1}}
  {{var2}}
</div>
<button (click)="Verfechas()">Calcular Fechas</button>
<h1>{{hoy}}</h1>
<input type="text" class="form-control" [(ngModel)]="nombre" name="nombre2">
{{nombre}}
-->
<div class="cabecera">Bienvenidos{{servicio1.getNumero()}} {{numero}}</div>
<button (click)="obtenerNumerodeServicio()">Obtener Servicio</button>
<router-outlet></router-outlet>
<div class="footer">footer</div>